HX711_DOUT_PIN=5
HX711_SCK_PIN=6
PIR_PIN=17

PIR_SAMPLE_INTERVAL_MS=100
PIR_COOLDOWN_MS=2000

SAMPLE_INTERVAL_MS=100
MOVING_AVERAGE_SIZE=10
PACKAGE_DETECT_THRESHOLD_G=300
PACKAGE_REMOVE_THRESHOLD_RATIO=0.6
STABLE_DURATION_MS=1500
DRIFT_TOLERANCE_G=50
CALIBRATION_OFFSET=0
CALIBRATION_SCALE=1

CAMERA_INDEX=0
VIDEO_OUTPUT_DIR=data/videos
SNAPSHOT_OUTPUT_DIR=data/snapshots
EVENT_OUTPUT_DIR=data/events

MQTT_HOST=
MQTT_PORT=1883
MQTT_TOPIC=smart-delivery/events

DFPLAYER_SERIAL_PORT=/dev/serial0
DFPLAYER_BAUDRATE=9600
